<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%date{HH:mm:ss.SSS}] [%logger/%level]: %message%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/server.log</file>
    <append>false</append>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>[%date{HH:mm:ss.SSS}] [%logger/%level]: %message%n</pattern>
    </encoder>
  </appender>

  <root level="TRACE">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

  <logger name="org.hibernate" level="INFO" />
  <!-- Non-fixable HHH90000021 deprecation warning -->
  <logger name="org.hibernate.orm.deprecation" level="ERROR" />
  <!-- <logger name="org.hibernate.SQL" level="DEBUG" /> -->
  <logger name="org.jboss" level="INFO" />
  <logger name="com.zaxxer.hikari" level="INFO" />
  <logger name="org.mariadb.jdbc" level="INFO" />
  <logger name="org.mongodb" level="INFO" />
  <logger name="io.netty" level="INFO" />
  <logger name="ktor.application" level="INFO" />

  <!-- <logger name="jp.assasans.araumi.server.client.deferred.DeferredDependencies" level="INFO" /> -->
  <!-- <logger name="jp.assasans.araumi.server.client.deferred.DeferredSpaceChannel" level="INFO" /> -->
  <logger name="jp.assasans.araumi.server.architecture.classes.GameClassRegistry" level="INFO" />
  <logger name="jp.assasans.araumi.server.architecture.spaces.SpaceRegistry" level="INFO" />
</configuration>
